/* src/styles/ChercheurList.css */

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
}

.container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

li:nth-child(even) {
    background-color: #f7f7f7;
}

li:hover {
    background-color: #e9e9e9;
}

button,
.link {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}

button:hover,
.link:hover {
    background-color: #0056b3;
}

button.delete-button {
    background-color: #dc3545;
}

button.delete-button:hover {
    background-color: #c82333;
}

.create-link {
    display: inline-block;
    margin-top: 20px;
    background-color: #6ab2ff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.create-link:hover {
    background-color: #212b8852;
}

/* Modal Styles */

.ReactModal__Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.ReactModal__Content {
    position: relative;
    padding: 20px !important;
    border-radius: 10px !important;
    background-color: #fff !important;
    width: 400px !important;
    max-width: 80% !important;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
